## Merging the tables

In [1]:
# load packages
import pandas as pd
import missingno as mso
import seaborn as sns
import numpy as np

In [2]:
"""
# Colab
df18 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/JEPSis/Tumor_Data/MICCAI_BraTS_2018_Data_Training/MICCAI_BraTS_2018_Data_Training/survival_data.csv')
df19 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/JEPSis/Tumor_Data/MICCAI_BraTS_2019_Data_Training/MICCAI_BraTS_2019_Data_Training/survival_data_2019.csv')
df20 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/JEPSis/Tumor_Data/MICCAI_BraTS2020_TrainingData/MICCAI_BraTS2020_TrainingData/survival_info_2020.csv')
names_2019 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/JEPSis/Tumor_Data/MICCAI_BraTS_2019_Data_Training/MICCAI_BraTS_2019_Data_Training/name_mapping.csv')
names_2020 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/JEPSis/Tumor_Data/MICCAI_BraTS2020_TrainingData/MICCAI_BraTS2020_TrainingData/name_mapping.csv')
"""
# Locally
df18 = pd.read_csv('data/survival_data_2018.csv')
df19 = pd.read_csv('data/survival_data_2019.csv')
df20 = pd.read_csv('data/survival_info_2020.csv')
names_2019 = pd.read_csv('data/name_mapping_2019.csv')
names_2020 = pd.read_csv('data/name_mapping_2020.csv')

In [3]:
df18.rename(columns={'BraTS18ID':'ID_2018'}, inplace = True)
df19.rename(columns={'BraTS19ID':'ID_2019'}, inplace = True)
df20.rename(columns={'Brats20ID':'ID_2020'},inplace = True)

In [4]:
# renaming
names19 = names_2019.copy()
names20 = names_2020.copy()

In [5]:
names19.rename(columns ={'BraTS_2017_subject_ID':'ID_2017', 'BraTS_2018_subject_ID':'ID_2018', 'BraTS_2019_subject_ID':'ID_2019'}, inplace = True)
names20.rename(columns ={'BraTS_2017_subject_ID':'ID_2017', 'BraTS_2018_subject_ID':'ID_2018', 'BraTS_2019_subject_ID':'ID_2019', 'BraTS_2020_subject_ID':'ID_2020'}, inplace = True)
names20.head()

,Grade,ID_2017,ID_2018,TCGA_TCIA_subject_ID,ID_2019,ID_2020
0,HGG,Brats17_CBICA_AAB_1,Brats18_CBICA_AAB_1,NaN,BraTS19_CBICA_AAB_1,BraTS20_Training_001
1,HGG,Brats17_CBICA_AAG_1,Brats18_CBICA_AAG_1,NaN,BraTS19_CBICA_AAG_1,BraTS20_Training_002
2,HGG,Brats17_CBICA_AAL_1,Brats18_CBICA_AAL_1,NaN,BraTS19_CBICA_AAL_1,BraTS20_Training_003
3,HGG,Brats17_CBICA_AAP_1,Brats18_CBICA_AAP_1,NaN,BraTS19_CBICA_AAP_1,BraTS20_Training_004
4,HGG,Brats17_CBICA_ABB_1,Brats18_CBICA_ABB_1,NaN,BraTS19_CBICA_ABB_1,BraTS20_Training_005

In [6]:
# join dfs to all patients in one name mapping df
names_full = pd.merge(names19, names20, on= ['ID_2017', 'ID_2018', 'ID_2019','TCGA_TCIA_subject_ID'], suffixes=['19','20'], how='outer')
names_full.head()

,Grade19,ID_2017,ID_2018,TCGA_TCIA_subject_ID,ID_2019,Grade20,ID_2020
0,HGG,Brats17_CBICA_AAB_1,Brats18_CBICA_AAB_1,NaN,BraTS19_CBICA_AAB_1,HGG,BraTS20_Training_001
1,HGG,Brats17_CBICA_AAG_1,Brats18_CBICA_AAG_1,NaN,BraTS19_CBICA_AAG_1,HGG,BraTS20_Training_002
2,HGG,Brats17_CBICA_AAL_1,Brats18_CBICA_AAL_1,NaN,BraTS19_CBICA_AAL_1,HGG,BraTS20_Training_003
3,HGG,Brats17_CBICA_AAP_1,Brats18_CBICA_AAP_1,NaN,BraTS19_CBICA_AAP_1,HGG,BraTS20_Training_004
4,HGG,Brats17_CBICA_ABB_1,Brats18_CBICA_ABB_1,NaN,BraTS19_CBICA_ABB_1,HGG,BraTS20_Training_005

In [7]:
# merge all survival tables
survival1 = pd.merge(names_full,df18, on=['ID_2018'], how='outer', suffixes=[_, 18])

In [8]:
survival2 = pd.merge(survival1,df19, on=['ID_2019'], how='outer', suffixes=[18, 19])

In [11]:
df_full = pd.merge(survival2,df20, on=['ID_2020'], how='outer', suffixes=[_, 20])

In [12]:
df_full.to_csv('data/df_full.csv')